table tr {
    /*border-bottom-style: solid;border-bottom-color: rgb(225,238,210);border-bottom-width: 1px;height: 40px*/
    border-bottom: 1px solid rgb(225, 238, 210);
    height: 40px;
}

ul {
    float: right;
}

.pagination>li>a, .pagination>li>span, .pagination>.disabled>a {
    background-color: rgb(30,41,61);
}

table {
    margin-bottom: 20px;
}